body {
	background-image: url("media/pavesketch.jpg"), url("media/pave1.jpg"), url("media/pave1.jpg");
	background-size: cover;
}
h2 {
	font-family: "Calibri", cursive;
	color: #808080;
	text-align: center;
}
table {
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
}
table, ul, li {
	font-family: "Calibri", cursive;
	color: #FF00FF;
	height: 20px;
}
p, h4 {
	text-align: center;
	height: 25px;
	color: #FFFFFF;
}